body {
    background-color: rgb(235, 235, 235);
    font-family: sans-serif;
    border: 0;
    margin: 0;
}

nav {
    background-color: #14453D;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    color: white;
    /* padding: 10px; */
    /* gap: 26px; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000000;
    opacity: .9;
}

nav h3, .container h2 {
    color: #63A088;
    font-family: "Atkinson Hyperlegible Next", serif;
}

nav h3 {
    margin-left: 10px;
    color: white;
}

nav #menu-bar {
    position: absolute;
    right: 15px;
    top: 20px;
    color: white;
    border: 1px solid #14453D;
    padding: 3px 5px;
    border-radius: 1px;
}

nav #menu-bar:hover {
    cursor: pointer;
    border: 1px solid #63A088;
}

nav .menu {
    display: none;
}

.container h2 {
    text-align: center;
}
.container p {
    text-align: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

nav a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    margin-right: 20px;
}

.container  {
    width: 80%;
    border-radius: 10px;
    margin-top: 70px;
}

.center {
    display: flex;
    justify-content: center;
}

.post-form {
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 10px;
}

.post-form button {
    background-color: #14453D;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: none;
}

.post-form button:hover {
    cursor: pointer;
}

.post-form input {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.post-form textarea {
    padding: 10px;
    border-radius: 5px;
    width: 95%;
    height: 120px;
    outline: none;
    border: none;
}

.post-form input:hover, .post-form textarea:hover {
    border: 2px solid #63A088;
}


@media screen and (max-width: 767px) {
    .container {
        width: 90%;
    }
    .post-form {
        width: 90%;
    }
}
/* .post-form input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.post-form textarea {
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    height: 120px;
}
.post-form button:hover {
    background: white;
    color: black;
    border: 1px solid black;
} */

.post {
    box-shadow: 0px 0px 1px 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    width: 40%;
    margin-bottom: 10px;
}
.post input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    width: 70%;
}
.post textarea {
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    height: 80px;
}
.post button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    border: none;
}

.login form label {
    margin-left: -10px;
}

.login form input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
    .post{
        width: 90%;
    }
}
.login form input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 20px;
}
.login form input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 20px;
}
.login form button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    background-color: black;
    color: white;
    border: none;
}
@media screen and (max-width: 767px) {
    .login form input[type="text"] {
        width: 80%;
    } 
    .login form input[type="email"] {
        width: 80%;
    } 
    .login form input[type="password"]{
        width: 80%;
    }
    .login form button[type="submit"] {
        width: 80%;
    }
    .login h1 {
        font-size: 18px;
        font-weight: 400;
    }
}
.login form button[type="submit"]:hover {
    color: black;
    background-color: white;
}